@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
/* Your existing global styles can go here */

/* image popup */
img.mfp-img {
    box-shadow: 0 0 8px rgb(0 0 0 / 60%);
    position: absolute;
    max-height: 100%;
    padding: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-close {
    top: -110px;
    right: -24px;
}


@keyframes bounceY {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
  }
  .dot-bounce { animation: bounceY 0.7s infinite; }
  .dot-delay-0 { animation-delay: 0ms; }
  .dot-delay-1 { animation-delay: 120ms; }
  .dot-delay-2 { animation-delay: 240ms; }